### Basic trading

- entry: do I use only the data for that stock endogenous, or also include the data from other stocks, exagenous.
- entry and exit :
- exit : take profit, stop loss, time out

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf  # for data
from pandas_datareader import data as pdr

In [3]:
yf.pdr_override()

In [5]:
stock = input('Enter stock tikcer symbol:')

Enter stock tikcer symbol: NIO

In [6]:
stock

'NIO'

In [15]:
start_year = 2019
start_month = 1
start_day = 1

start = dt.datetime(start_year,start_month,start_day)
now = dt.datetime.now()
df = pdr.get_data_yahoo(stock,start,now)
df

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-01-02   6.130000   6.240000   6.000000   6.200000   6.200000    8823600
2019-01-03   6.100000   6.150000   6.020000   6.050000   6.050000    7562900
2019-01-04   6.190000   6.400000   6.130000   6.360000   6.360000    9405600
2019-01-07   6.410000   6.590000   6.310000   6.500000   6.500000    9709000
2019-01-08   6.570000   6.580000   6.170000   6.400000   6.400000    9603800
...               ...        ...        ...        ...        ...        ...
2020-10-19  28.209999  28.559999  27.219999  27.629999  27.629999  115708700
2020-10-20  27.420000  28.299999  27.049999  27.959999  27.959999  105233400
2020-10-21  27.900000  28.430000  27.389999  27.860001  27.860001   65357900
2020-10-22  28.150000  28.280001  26.809999  27.379999  27.379999   72173300
2020-10-23  27.370001  27.420000  26.480000  27.160000  27.160000   51651000

[458 rows x 6 columns]

In [ ]:
ma = 50
maString = 'Sma_'+str(ma)

In [ ]:
df[maString] = df.loc[:,'Adj Close'].rolling(window = 50).mean()
df = df.iloc[ma:]

In [ ]:
numH = 0
numC = 0
for row in df.index:
    if (df['Adj Close'][row] > df['Sma_50'][row]):
        numH +=1
    else:
        numC +=1

In [ ]:
print(numH)
print(numC)

In [16]:
emasUsed = [3,5,8,10,12,15,30,35,40,45,50,60]
for ema in emasUsed:
    df['Ema_' + str(ema)] = round(df['Adj Close'].ewm(span = ema, adjust = False).mean(),2)

In [17]:
df

,Open,High,Low,Close,Adj Close,Volume,Ema_3,Ema_5,Ema_8,Ema_10,Ema_12,Ema_15,Ema_30,Ema_35,Ema_40,Ema_45,Ema_50,Ema_60
Date,,,,,,,,,,,,,,,,,,
2019-01-02,6.130000,6.240000,6.000000,6.200000,6.200000,8823600,6.20,6.20,6.20,6.20,6.20,6.20,6.20,6.20,6.20,6.20,6.20,6.20
2019-01-03,6.100000,6.150000,6.020000,6.050000,6.050000,7562900,6.12,6.15,6.17,6.17,6.18,6.18,6.19,6.19,6.19,6.19,6.19,6.20
2019-01-04,6.190000,6.400000,6.130000,6.360000,6.360000,9405600,6.24,6.22,6.21,6.21,6.21,6.20,6.20,6.20,6.20,6.20,6.20,6.20
2019-01-07,6.410000,6.590000,6.310000,6.500000,6.500000,9709000,6.37,6.31,6.27,6.26,6.25,6.24,6.22,6.22,6.22,6.21,6.21,6.21
2019-01-08,6.570000,6.580000,6.170000,6.400000,6.400000,9603800,6.39,6.34,6.30,6.29,6.27,6.26,6.23,6.23,6.22,6.22,6.22,6.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-19,28.209999,28.559999,27.219999,27.629999,27.629999,115708700,27.45,26.57,25.41,24.80,24.29,23.64,21.45,20.88,20.34,19.83,19.34,18.43
2020-10-20,27.420000,28.299999,27.049999,27.959999,27.959999,105233400,27.71,27.03,25.98,25.37,24.85,24.18,21.87,21.27,20.71,20.18,19.68,18.74
2020-10-21,27.900000,28.430000,27.389999,27.860001,27.860001,65357900,27.78,27.31,26.40,25.83,25.31,24.64,22.25,21.64,21.06,20.52,20.00,19.04
2020-10-22,28.150000,28.280001,26.809999,27.379999,27.379999,72173300,27.58,27.33,26.61,26.11,25.63,24.98,22.59,21.95,21.37,20.82,20.29,19.32
2020-10-23,27.370001,27.420000,26.480000,27.160000,27.160000,51651000,27.37,27.27,26.74,26.30,25.87,25.26,22.88,22.24,21.65,21.09,20.56,19.57

In [19]:
for i in df.index:
    cmin = min(df['Ema_3'][i],df['Ema_5'][i],df['Ema_8'][i],df['Ema_10'][i],df['Ema_12'][i],df['Ema_15'][i])
    cmax = min(df['Ema_30'][i],df['Ema_35'][i],df['Ema_40'][i],df['Ema_45'][i],df['Ema_50'][i],df['Ema_50'][i])
    
    close = df['Adj Close'][i]
    
    if (cmin>cmax):
        print('red white blue')
    elif(cmin<cmax):
        print('blue white red')

blue white red
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
red white blue
red white blue
red white blue
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
blue white red
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue
red white blue